@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
@import url(reset.css);

.container {
    height: 100vh;
}

.login {
    width: 450px;
    height: 100vh;
    margin: 0 auto;
}

.login_main{
    text-align: center;
}

.login_main > img{
    margin-top: 100px;
    width: 120px;
    height: 150px; 
}

.login_main > p {
    font-family: 'Noto Sans KR', sans-serif;
}

.login_info fieldset{
    border: none;
}

.login_info legend{
        position:absolute; left: -999em;
        /* 웹 접근성으로 스크린 리더기가 읽어줘야 하므로,
        display: none; 을 사용 ㄴㄴ */
}

.login_info p{
    font-size: 20px;
}
.login_info a{
    font-size: 20px;
}


.login_info label{ 
    display:block;
    font-size: 12px; color:#333;
    margin-bottom: 10px;
    position: absolute;
    left: -999em;
}

.login_info fieldset input{ 
    display:block;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
}


.login_info button{
    display:block;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #1785F2;
    color: white;
}

