@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
@import url(reset.css);

header{
    display:flex;
    align-items: center;
    margin: 20px;
}

header>span{
    margin-left: 10px;
    font-size: 28px;
}

.user-info{
    display:flex;
    align-items: center;
    font-size: 20px;

}


.user-info>div{
    margin-right: 10px;
}

.w-name{
    display:block;
}

.like-btn{
    width:100px;
    height: 50px;
}