@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
@import url(reset.css);

.btns{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.complete-btn{
    border-radius: 35px;
    background: #1785F2;
    color: white;
    width:70px;
    height:50px;
    font-size:15px;
    
}